.invite-code-modal-content {
    .group-info {
        margin-bottom: 12px;
        color: #595959;
    }

    .expire-form-item {
        .expire-input-group {
            width: 100%;
            
            .expire-input {
                width: 70%;
            }

            .expire-unit-select {
                width: 30%;
            }
        }
    }
}
