.lesson-editor-drawer-footer {
  text-align: right;
  padding: 10px 0;
}

.lesson-editor-resource-section {
  margin-top: 24px;

  .resource-title {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
  }

  .video-upload-component {
    width: 100%;
    margin-bottom: 16px;
  }
}
