.course-card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.course-card .ant-card-body {
  padding: 10px 12px;
}

.course-card-media {
  height: 140px;
  background: #cacbcc;
  color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-card-title {
  color: #333333;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  font-family: 'PingFang SC', 'Source Han Sans SC', 'Noto Sans SC', 'Microsoft YaHei UI', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.course-card-teacher {
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'PingFang SC', 'Source Han Sans SC', 'Noto Sans SC', 'Microsoft YaHei UI', sans-serif;
}
